* {
  font-family: 'Abril Fatface', cursive;
  background-color: #CFE3E2;
}

.btn {
  border: none;
  margin: 5px;
  background-color: #CFE3E2;
  width: 300px;
  height: 70px;
  font-size: 1.5em;
  color: #bc85a3;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  filter: contrast(90%);
  
}



.btns {
 display: flex;
 flex-direction:column;
 background-color: #FEDDD8;
}


h2,
p,
h3 {
  color: #B296A8;
  background-color: #FEDDD8;
}

.score {
  font-weight: 300;
}

.paper {
  width: 60%;
  height: 500px;  
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #FEDDD8!important;
}
